body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    display: inline;
}

.name-nav {
    font-size: 28px;
    font-family: "Arial";
    float: left;
    color: black;
    padding: 4px;
}

.navagation {
    text-decoration: none;
    float: right;
    font-size: 28px;
    font-family: "Arial";
    padding: 4px 8px 4px 8px;
    margin-left: 5px;
    color: black;
}

.navagation:hover {
    border: solid black;
}

.navagation-service {
    font-size: 28px;
    font-family: "Arial";
    padding: 4px 8px 4px 8px;
    margin-left: 5px;
    text-decoration: none;
    float: right;
    color: black;
}

.navagation-service:hover {
    border: solid black;
}

.parallax {
    /* The image used */
  background-image: url(Photos/Slov_photo.jpg);

  /* Set a specific height */
  min-height: 100vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax1 {
    /* The image used */
  background-image: url(Photos/Leaves_photo.png);

  /* Set a specific height */
  min-height: 100vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
    margin: 0;
}

.bar1 {
    height: 180px;
    background-color: rgb(165, 104, 13);
    font-size: 28px;
    border: solid black;
}

.hi {
    padding-top: 15%;
    color: white;
    text-align: center;
    font-size: 128px;
}

.arrow, .scroll {
    color: white;
    text-align: center;
    font-size: 14px;
}

.name {
    color: black;
    text-align: center;
    font-size: 36px;
    padding-top: 10px;
}

.small-intro {
    color: black;
    text-align: center;
    font-size: 36px;
    padding-top: 10px;
}