body {
    margin: 0;
}

.parallax {
    /* The image used */
  background-image: url(top_photo.jpg);

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax1 {
    /* The image used */
  background-image: url(bottom_photo.jpg);

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
    margin-top: 0;
}

.bar1 {
    height: 200px;
    background-color: gray;
    font-size: 28px;
    border-style: solid;
}

.hi {
    padding-top: 15px;
    color: white;
    text-align: center;
    font-size: 42px;
}

.name {
    
    color: white;
    text-align: center;
    font-size: 36px;
}